In [1]:
strategies=['Rock','Paper','Scissors']

In [2]:
payoff={('Rock','Paper'):(0,1),
        ('Paper','Rock'):(1,0),
        ('Rock','Scissors'):(1,0),
        ('Scissors','Rock'):(0,1),
        ('Paper','Scissors'):(0,1),
        ('Scissors','Paper'):(1,0),
        ('Rock','Rock'):(0,0),
        ('Paper','Paper'):(0,0),
        ('Scissors','Scissors'):(0,0)}

In [3]:
Players=[{'name':'John','score':0,'strategy':None},
         {'name':'Mary','score':0,'strategy':None}]

Decision making process
This is the process to choose an strategy:

In [4]:
from random import choice
#choice elige estrategias al azar, pero el modelo no tiene memoria que ser√≠a la base del learning

#simplest strategy: choose randomly
choice(strategies);

## The moment of truth

### agent decide strategy

In [5]:
Players[0]['strategy']=choice(strategies)
Players[1]['strategy']=choice(strategies)

In [6]:
Players[0]['strategy'],Players[1]['strategy']

('Rock', 'Paper')

In [7]:
# social result of individual decision
result = payoff[Players[0]['strategy'],Players[1]['strategy']]
result

(0, 1)

In [8]:
# update agents situation
Players[0]['score']+=result[0]
Players[1]['score']+=result[1]

In [9]:
# current agent situation
Players

[{'name': 'John', 'score': 0, 'strategy': 'Rock'},
 {'name': 'Mary', 'score': 1, 'strategy': 'Paper'}]

In [10]:
import pandas as pd 

socialResults=pd.DataFrame((Players[0], Players[1]))
socialResults
winnerScore=socialResults.score.max()

In [11]:
#social outcome
socialResults[socialResults.score==winnerScore]

   name  score strategy
1  Mary      1    Paper

## Ejercicio 1

Where would you add this code to see live the results of this last tournament?

In [12]:
# names of players
names=['Jim','Jane','Peter','Zoe']

In [13]:
# setting up players
society=[{'name':n,'score':0,'strategy':None} for n in names]

In [14]:
# each player a dict:
society

[{'name': 'Jim', 'score': 0, 'strategy': None},
 {'name': 'Jane', 'score': 0, 'strategy': None},
 {'name': 'Peter', 'score': 0, 'strategy': None},
 {'name': 'Zoe', 'score': 0, 'strategy': None}]

In [15]:
import itertools  #genera parejas

# pair is a tuple of dicts
for pair in itertools.combinations(society,2): #combinaciones de dos en dos 
    print(pair)

({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Jane', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})

In [16]:
import itertools 
#hace que ya no sea una sola tupla
# each dict
for player1,player2 in itertools.combinations(society,2):
    print(player1,player2)

{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Jane', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}

In [17]:
# resetting society
society=[{'name':n,'score':0,'strategy':None} for n in names]

# several rounds
for aRound in range(10):
    
    # en each round:#es una ronda de todos contra todos
    for player1,player2 in itertools.combinations(society,2):
        # each chooses strategy
        player1['strategy']=choice(strategies)
        
        player2['strategy']=choice(strategies)
        
        # result from strategy chosen
        result=payoff[player1['strategy'],player2['strategy']]
            
        # update scores
        player1['score']+=result[0]
        player2['score']+=result[1]

In [21]:

print(player1['name'] + " chose " + player1['strategy'] +" - "+player2['name'] + " chose " + player2['strategy'] )

if payoff[player1['strategy'], player2['strategy']] == (1,0): 
    print(player1['name'] + " won")
elif payoff[player1['strategy'], player2['strategy']] == (0,1): 
    print(player2['name'] + " won")
else:
    print("TIE!")

Peter chose Paper - Zoe chose Scissors
Zoe won

El c√≥digo para en esta ubicaci√≥n puede ayudarnos a reconocer los resultados espec√≠ficos

In [22]:
# final situation
society

[{'name': 'Jim', 'score': 10, 'strategy': 'Paper'},
 {'name': 'Jane', 'score': 9, 'strategy': 'Scissors'},
 {'name': 'Peter', 'score': 10, 'strategy': 'Paper'},
 {'name': 'Zoe', 'score': 10, 'strategy': 'Scissors'}]

In [23]:
# as a data frame
socialResults=pd.DataFrame(society)
socialResults

    name  score  strategy
0    Jim     10     Paper
1   Jane      9  Scissors
2  Peter     10     Paper
3    Zoe     10  Scissors

In [24]:
winnerScore=socialResults.score.max()

#social outcome
socialResults[socialResults.score==winnerScore]

    name  score  strategy
0    Jim     10     Paper
2  Peter     10     Paper
3    Zoe     10  Scissors