moderamiento basado en agentes

In [26]:
strategies=['Rock','Paper','Scissors']

In [27]:
payoff={('Rock','Paper'):(0,1),
        ('Paper','Rock'):(1,0),
        ('Rock','Scissors'):(1,0),
        ('Scissors','Rock'):(0,1),
        ('Paper','Scissors'):(0,1),
        ('Scissors','Paper'):(1,0),
        ('Rock','Rock'):(0,0),
        ('Paper','Paper'):(0,0),
        ('Scissors','Scissors'):(0,0)}

In [28]:
Players=[{'name':'John','score':0,'strategy':None},
         {'name':'Mary','score':0,'strategy':None}]

Decision making process
This is the process to choose an strategy:

In [29]:
from random import choice
#choice elige estrategias al azar, pero el modelo no tiene memoria que ser√≠a la base del learning

#simplest strategy: choose randomly
choice(strategies);

## The moment of truth

### agent decide strategy

In [38]:
Players[0]['strategy']=choice(strategies)
Players[1]['strategy']=choice(strategies)

In [39]:
Players[0]['strategy'],Players[1]['strategy']

('Paper', 'Rock')

In [40]:
# social result of individual decision
result = payoff[Players[0]['strategy'],Players[1]['strategy']]
result

(1, 0)

In [41]:
# update agents situation
Players[0]['score']+=result[0]
Players[1]['score']+=result[1]

In [42]:
# current agent situation
Players

[{'name': 'John', 'score': 1, 'strategy': 'Paper'},
 {'name': 'Mary', 'score': 0, 'strategy': 'Rock'}]

In [43]:
import pandas as pd 

socialResults=pd.DataFrame((Players[0], Players[1]))
socialResults
winnerScore=socialResults.score.max()

In [44]:
#social outcome
socialResults[socialResults.score==winnerScore]

   name  score strategy
0  John      1    Paper

In [45]:
# names of players
names=['Jim','Jane','Peter','Zoe']

In [46]:
# setting up players
society=[{'name':n,'score':0,'strategy':None} for n in names]

In [47]:
# each player a dict:
society

[{'name': 'Jim', 'score': 0, 'strategy': None},
 {'name': 'Jane', 'score': 0, 'strategy': None},
 {'name': 'Peter', 'score': 0, 'strategy': None},
 {'name': 'Zoe', 'score': 0, 'strategy': None}]

In [48]:
import itertools  #genera parejas

# pair is a tuple of dicts
for pair in itertools.combinations(society,2): #combinaciones de dos en dos 
    print(pair)

({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Jane', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})

In [49]:
import itertools 
#hace que ya no sea una sola tupla
# each dict
for player1,player2 in itertools.combinations(society,2):
    print(player1,player2)

{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Jane', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}

In [50]:
# resetting society
society=[{'name':n,'score':0,'strategy':None} for n in names]

# several rounds
for aRound in range(10):
    
    # en each round:#es una ronda de todos contra todos
    for player1,player2 in itertools.combinations(society,2):
        # each chooses strategy
        player1['strategy']=choice(strategies)
        
        player2['strategy']=choice(strategies)
        
        # result from strategy chosen
        result=payoff[player1['strategy'],player2['strategy']]
            
        # update scores
        player1['score']+=result[0]
        player2['score']+=result[1]

In [51]:
# final situation
society

[{'name': 'Jim', 'score': 10, 'strategy': 'Rock'},
 {'name': 'Jane', 'score': 11, 'strategy': 'Paper'},
 {'name': 'Peter', 'score': 13, 'strategy': 'Scissors'},
 {'name': 'Zoe', 'score': 7, 'strategy': 'Paper'}]

In [52]:
# as a data frame
socialResults=pd.DataFrame(society)
socialResults

    name  score  strategy
0    Jim     10      Rock
1   Jane     11     Paper
2  Peter     13  Scissors
3    Zoe      7     Paper

In [54]:
winnerScore=socialResults.score.max()

#social outcome
socialResults[socialResults.score==winnerScore]

    name  score  strategy
2  Peter     13  Scissors

## Ejercicio 1

Where would you add this code to see live the results of this last tournament?

In [55]:
print(player1['name'] + " chose " + player1['strategy'] +" - "+player2['name'] + " chose " + player2['strategy'] )
if payoff[player1['strategy'],player2['strategy']] == (1,0): 
    print(player1['name'] + " won") 
if payoff[player1['strategy'],player2['strategy']] == (0,1): 
    print(player2['name'] + " won") 
else:
    print("TIE!")

Peter chose Scissors - Zoe chose Paper
Peter won
TIE!

# Ejericio 2

How would you implement this game for 10 players, and get the results?

In [61]:
# names of players
apostoles=['Pedro','Nicolas','Tomas','Juan', 'Richi','Mateo','Simon','Nicole','Andrea','Gonza','Bartolome']

### Estrategias

In [58]:
strategies=['piedra','papel','tijera','lagatija', 'spok' ]

### Reglas

In [59]:
payoff={('papel','piedra'):(1,0),
        ('papel','lagatija'):(0,1),
        ('papel','spok'):(1,0),
        ('papel','tijera'):(0,1),
        ('papel','papel'):(0,0),#
        ('piedra','papel'):(0,1),
        ('piedra','tijera'):(1,0),
        ('piedra','lagatija'):(1,0),
        ('piedra','spok'):(0,1),      
        ('piedra','piedra'):(0,0),#                
        ('lagatija','papel'):(1,0),
        ('lagatija','tijera'):(0,1),
        ('lagatija','lagatija'):(0,0),
        ('lagatija','spok'):(1,0),      
        ('lagatija','piedra'):(0,1),#           
        ('spok','papel'):(0,1),
        ('spok','tijera'):(1,0),
        ('spok','lagatija'):(0,1),
        ('spok','spok'):(0,0),      
        ('spok','piedra'):(1,0),#        
        ('tijera','papel'):(1,0),
        ('tijera','tijera'):(0,0),
        ('tijera','lagatija'):(1,0),
        ('tijera','spok'):(0,1),      
        ('tijera','piedra'):(0,1)}

In [62]:
import itertools 

for pair in itertools.combinations(apostoles,2):
    print(pair)

('Pedro', 'Nicolas')
('Pedro', 'Tomas')
('Pedro', 'Juan')
('Pedro', 'Richi')
('Pedro', 'Mateo')
('Pedro', 'Simon')
('Pedro', 'Nicole')
('Pedro', 'Andrea')
('Pedro', 'Gonza')
('Pedro', 'Bartolome')
('Nicolas', 'Tomas')
('Nicolas', 'Juan')
('Nicolas', 'Richi')
('Nicolas', 'Mateo')
('Nicolas', 'Simon')
('Nicolas', 'Nicole')
('Nicolas', 'Andrea')
('Nicolas', 'Gonza')
('Nicolas', 'Bartolome')
('Tomas', 'Juan')
('Tomas', 'Richi')
('Tomas', 'Mateo')
('Tomas', 'Simon')
('Tomas', 'Nicole')
('Tomas', 'Andrea')
('Tomas', 'Gonza')
('Tomas', 'Bartolome')
('Juan', 'Richi')
('Juan', 'Mateo')
('Juan', 'Simon')
('Juan', 'Nicole')
('Juan', 'Andrea')
('Juan', 'Gonza')
('Juan', 'Bartolome')
('Richi', 'Mateo')
('Richi', 'Simon')
('Richi', 'Nicole')
('Richi', 'Andrea')
('Richi', 'Gonza')
('Richi', 'Bartolome')
('Mateo', 'Simon')
('Mateo', 'Nicole')
('Mateo', 'Andrea')
('Mateo', 'Gonza')
('Mateo', 'Bartolome')
('Simon', 'Nicole')
('Simon', 'Andrea')
('Simon', 'Gonza')
('Simon', 'Bartolome')
('Nicole', 'Andrea')
('Nicole', 'Gonza')
('Nicole', 'Bartolome')
('Andrea', 'Gonza')
('Andrea', 'Bartolome')
('Gonza', 'Bartolome')

In [63]:
apostoles=[{'apostol':n,'score':0,'strategy usada':None} for n in names]

In [64]:
for aRound in range(100): #se hacen 100 rondas de interacciones
    
    # en each round:
    for player1,player2 in itertools.combinations(apostoles,2): #genera las combinaciones sin repetici√≥n
        # cada jugador elige (con la funci√≥n choice) su elemento de strategies (estrategia)
        player1['strategy']=choice(strategies)
        
        player2['strategy']=choice(strategies)
        
        # obtenemos el resultado producto de la interaccion de los elementos elegidos en base a las reglas
        result=payoff[player1['strategy'],player2['strategy']]
            
        # update scores, es la forma abreviada de player1['score'] = player1['score'] + result[0]
        player1['score']+=result[0]
        player2['score']+=result[1]

In [66]:
apostoles

[{'apostol': 'Pedro',
  'score': 415,
  'strategy usada': None,
  'strategy': 'piedra'},
 {'apostol': 'Nicolas',
  'score': 415,
  'strategy usada': None,
  'strategy': 'tijera'},
 {'apostol': 'Tomas',
  'score': 401,
  'strategy usada': None,
  'strategy': 'spok'},
 {'apostol': 'Juan',
  'score': 391,
  'strategy usada': None,
  'strategy': 'lagatija'},
 {'apostol': 'Richi',
  'score': 368,
  'strategy usada': None,
  'strategy': 'papel'},
 {'apostol': 'Mateo',
  'score': 391,
  'strategy usada': None,
  'strategy': 'papel'},
 {'apostol': 'Simon',
  'score': 423,
  'strategy usada': None,
  'strategy': 'spok'},
 {'apostol': 'Nicole',
  'score': 400,
  'strategy usada': None,
  'strategy': 'tijera'},
 {'apostol': 'Andrea',
  'score': 412,
  'strategy usada': None,
  'strategy': 'lagatija'},
 {'apostol': 'Gonza',
  'score': 382,
  'strategy usada': None,
  'strategy': 'tijera'},
 {'apostol': 'Bartolome',
  'score': 377,
  'strategy usada': None,
  'strategy': 'piedra'}]

In [67]:
Resultado=pd.DataFrame(apostoles)
Resultado

      apostol  score strategy usada  strategy
0       Pedro    415           None    piedra
1     Nicolas    415           None    tijera
2       Tomas    401           None      spok
3        Juan    391           None  lagatija
4       Richi    368           None     papel
5       Mateo    391           None     papel
6       Simon    423           None      spok
7      Nicole    400           None    tijera
8      Andrea    412           None  lagatija
9       Gonza    382           None    tijera
10  Bartolome    377           None    piedra

In [68]:
winnerScore=Resultado.score.max()

In [69]:
Resultado[Resultado.score==winnerScore]

  apostol  score strategy usada strategy
6   Simon    423           None     spok

In [ ]:
#Simon ha sido el ganador